/* Allgemeine Stile */


body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    color: darkred;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    font-size: large;
}

/* Header-Stile */

header {
    background-color: black;
    color: darkred;
    padding: 10px 0;
}

header h1 {
    margin: 0;
}

/* Navigations-Stile */

nav {
    margin-top: 0px;
    margin-bottom: 0px;
    border: lightgray;
}

nav ul {
    margin-left: 10px;
    list-style: none;
    border: lightgray;

    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: lightgray;
    font-weight: bold;
}

/* Hauptinhalt-Stile */



/* Stile für Glücksspiel- und Texas Hold'em-Inhalte */

#gluecksspiel {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

#texas-holdem {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

/* Footer-Stile */

footer {
    background-color: Black;
    color: darkred;
    padding: 10px 0;
    position: sticky;
    bottom: 0;
    width: 100%;
}

a {
    color: darkred;
}
div video {

    width: 100vw; /* 100% der Bildschirmbreite */
    height: 450px;
    object-fit: cover;
}

.text-box {
    float: left;
    width: 100%;
    background-color: lightgray;
    padding: 20px;
    box-sizing: border-box;
}

.image-box {
    width: 100%; /* Das Bild nimmt 100% der Breite des übergeordneten Containers ein */
    height: auto;
    max-width: 400px; /* Begrenzen Sie die maximale Breite des Bildes, passen Sie nach Bedarf an */
    display: block;
    margin: 10px auto; /* Zentrieren Sie das Bild innerhalb des Containers */

}
@media (max-width: 768px) {
    .text-box,
    .image-box {
        width: 100%;
        float: right;
    }
}
.text-box2 {
    float: right;
    width: 100%;
    background-color: lightgray;
    padding: 20px;
    box-sizing: border-box;
}
/* carousel style -------------*/
#carousel-container {
    width: 400px;
    overflow: hidden;
    margin: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

#quote-container {
    display: flex;
    width: 400%;
    transition: transform 0.5s ease-in-out;
}

.quote {
    width: 25%;
    box-sizing: border-box;
    font-style: italic;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-right: 10px;
}

#prev, #next {
    cursor: pointer;
    font-size: 24px;
    margin: 10px;
}



.abstand{
    margin-bottom: -20px;
}
.abstand2{
    margin-bottom: -40px;
}
.abstandbild{
    margin-top: +40px;
}
#carousel-container{
    width: 100%;
}
div .quote{
    width: 100%;
}

.logo{
    margin-left: 0px;
}
.nav1{
    margin-top: 21px;
    margin-left: 20px;
    margin-right: 20px;
}

.card{
    margin-top: 30px;
    margin-bottom: 15px;
}
.card-img-top{
    height: 450px;
}
