/* Allgemeine Stile */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    color: darkred;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    font-size: large;
}

/* Header-Stile */

header {
    background-color: black;
    color: darkred;
    padding: 10px 0;
}

header h1 {
    margin: 0;
}

/* Navigations-Stile */

nav {
    margin-top: 20px;
    margin-bottom: 0px;
}

nav ul {
    margin-left: 150px;
    list-style: none;


    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: darkred;
    font-weight: bold;
}

/* Hauptinhalt-Stile */



/* Stile für Glücksspiel- und Texas Hold'em-Inhalte */

#gluecksspiel {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

#texas-holdem {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

/* Footer-Stile */

footer {
    background-color: Black;
    color: darkred;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    color: darkred;
}
div video {

    width: 100vw; /* 100% der Bildschirmbreite */
    height: 450px;
    object-fit: cover;
}

.text-box {
    float: left;
    width: 100%;
    background-color: lightgray;
    padding: 20px;
    box-sizing: border-box;
}

.image-box {
    width: 100%; /* Das Bild nimmt 100% der Breite des übergeordneten Containers ein */
    height: auto;
    max-width: 400px; /* Begrenzen Sie die maximale Breite des Bildes, passen Sie nach Bedarf an */
    display: block;
    margin: 10px auto; /* Zentrieren Sie das Bild innerhalb des Containers */
}
@media (max-width: 768px) {
    .text-box,
    .image-box {
        width: 100%;
        float: none;
    }
}
